body {
    margin: 15px;
    padding: 15px;
    box-sizing: content-box;
}
p {
    margin: 5px;
}

.payment {
margin-top: 25px;
margin-left: 15px;
display: flex;
flex-wrap: wrap;
align-items: center;
}

label {
    margin-left:2px;
    margin-right: 5px;
}
.form-floating  {
margin-top: 25px;
 }

.form {
    height:50% ;
}